<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dapz.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dapz.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dapz</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dapz</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookDBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=dmoneyaddict\sql2k12;Initial Catalog=BookDB;User ID=sa;Password=pass123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dmoneyaddict\sql2k12;Initial Catalog=BookDB;User ID=sa;Password=pass123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BookDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=dmoneyaddict\sql2k12;Initial Catalog=BookDB;User ID=sa;Password=pass123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BookDBEntities1" Order="2" Enabled="False">
          <Destination Path="Data Source=dmoneyaddict\sql2k12;Initial Catalog=BookDB;User ID=sa;Password=pass123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DMONEYADDICT\SQL2K12;Initial Catalog=BookDB;User ID=sa;Password=pass123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BookDBEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DMONEYADDICT\SQL2K12;initial catalog=BookDB;user id=sa;password=pass123;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BookDBEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=dmoneyaddict\sql2k12;Initial Catalog=BookDB;User ID=sa;Password=pass123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DMONEYADDICT\SQL2K12;Initial Catalog=BookDB;User ID=sa;Password=pass123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BookDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DMONEYADDICT\SQL2K12;initial catalog=BookDB;user id=sa;password=pass123;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BookDBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=dmoneyaddict\sql2k12;Initial Catalog=BookDB;User ID=sa;Password=pass123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BookDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string="data source=dmoneyaddict\sql2k12;initial catalog=BookDB;user id=sa;password=pass123;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BookDBEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string="data source=dmoneyaddict\sql2k12;initial catalog=BookDB;user id=sa;password=pass123;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>